<div class="row-fluid headerContainer">
	<div class="span12">
		<div class="span4">
			<img src="images/Logo/logo.jpg" class="logo">
		</div>
		<div class="span8">
			<div class="span3 thumbnail pull-right" style="text-align:center;background-color:#fefefe;"> Call Us: 0030346279</div>
		</div>
	</div>
	<div class="span12 navbars">
		<ul class="navs pull-right">
			<li class="nav-active home">Home</li>
			<li class="about">About Us</li>
			<li class="services">Services
				<ul class="dropdown">
					<li>False Ceiling & Partition Systems</li>
					<li>GRG Decoration</li>
					<li>Access Panel Manufacturing</li> 
				</ul>
			</li>
			<li class="projects">Projects</li>
			<li class="contact">Contact</li>			
		</ul>
	</div>
</div>